#inputEmail::placeholder {
  color: #aaa;
}

/* style section2 */

.section2-bg {
  background-color: hsl(240, 75%, 98%);
}

.wave-separator img {
  display: block;
  width: 100%;
  margin-bottom: -5px;
}

.text-color{
  color: hsl(170, 45%, 43%);
}

.border-bottom {
  border-bottom-color: hsl(170, 45%, 43%) !important;
}


.box-color{
  background-color: white;
}


