#inputEmail::placeholder {
  color: #aaa;
}

/* style section2 */

.section2-bg {
  background-color: hsl(240, 75%, 98%);
    padding-left: 15px;
    padding-right: 15px;
}

.wave-separator img {
  display: block;
  width: 100%;
  margin-bottom: -5px;
}

.text-color{
  color: hsl(170, 45%, 43%);
}

.border-bottom {
  border-bottom-color: hsl(170, 45%, 43%) !important;
}


.box-color{
  background-color: white;
}


/* style section3 */
.full-width{
    width: 100%;
    margin-left: calc(-50vw + 50%);
    padding-left: 15px;
    padding-right: 15px;
  }

.back-color-section3{
      background-color: hsl(238, 22%, 44%);

}

/* style footer */
.back-color-footer{
      background-color: hsl(243, 87%, 12%);

}

.logo-white {
  filter: brightness(0) invert(1); 
}

.footer-item {
  display: inline-block;
  margin-right: 10px; 
}


   .icon-hover:hover {
    background-color: #074eb9 !important; /* Bootstrap blue */
    color: #fff;
    border-color: #084fb8 !important ;
  }



